# Auto detect text files and perform CRLF normalization in case the local repo does not have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
